<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TuneRater - Explore</title>

    <!-- Load our React component. -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="explore.js" defer></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <style>
    .navbar-item {
      color:#4a4a4a !important;
    }

    body {
      margin:0;
      font: 12pt Arial;   
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #130125;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #0c7c8a;
    }

    .active {
      background-color: #0c7c8a;
    }

    .btn {
      background-color: #0c7c8a;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 230px;
      height: 50px;
      opacity: 0.9;
      font-size: 18px;
    }

    .btn:hover {
      opacity: 1;
    }

  </style>
</head>

<body>

  <ul>
    <ul>
    <li><a href="http://localhost:3001/"><img src="https://raw.githubusercontent.com/yshneyderman/326Project/master/TuneRater%20Logo%20Blue.png" height="15" width="30"></a></li>
    <li style="float:center"><a href="http://localhost:3000/">Explore</a></li>
    <li style="float:right"><a href="http://localhost:3004/"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{user}}</a></li>
    <li class="active" style="float:right"><a href="http://localhost:3002/"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Song</a></li>
  </ul>
  </ul>
  <div style="padding:20px;margin-top:30px;background-color:#ffffff;">  


<h3 id="errormsg">{{errormsg}}</h3>

<h1>Add Song</h3>
<div>
  <p>Remember that all songs must be your own work. <br> Uploading work that doesn't belong to you is against site policy and will be removed.</p>
  <br><br>
</div>
<div align="center">
  <div style="width:400px;border: 1px solid #dedede;">
  <br>
    <form method="post" enctype="multipart/form-data" action="/create">
      <div align="center">
        <div align="left" style="width:230px">
          Title: <input type="text" name="title" required style='border: 1px solid #dedede;background-color:#f2f2f2;color:black;width: 170px; height: 20px; padding: 3px 3px;font-size: 12px;'><br>
          Description: <input type="text" name="desc" style='border: 1px solid #dedede;background-color:#f2f2f2;color:black;width: 120px; height: 20px; padding: 3px 3px;font-size: 12px;'><br>
        </div>
        <div>
        <br>
      </div align="center" style="width:230px;">
        <input id="audio-file" name="mp3" type="file" required>
      </div>
      <div>
        <br><br>
      </div>
      <div align="center">
        <input class='btn' type="submit" value="Upload">
      </div>
    </form>
    <br>
  </div>
</div>
</body>
</html>

