<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TuneRater</title>

    <!-- Load our React component. -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="explore.js" defer></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <style>
    .header-image {
      background-image: url("https://raw.githubusercontent.com/yshneyderman/326Project/master/background.png");
      background-color: #000000;
      height:600px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .header-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }

    .navbar-item {
      color:#4a4a4a !important;
    }

    body {
      margin:0;
      font: 12pt Arial;   
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 15px 30px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #4CAF50;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:3001/"><img src="https://raw.githubusercontent.com/yshneyderman/326Project/master/TuneRater%20Logo%20Blue.png" height="15" width="30"></a></li>
    <li><a href="http://localhost:3000/">Explore</a></li>
    <li style="float:right"><a href="http://localhost:3002/"><i class="fa fa-plus" aria-hidden="true"></i>   Add Song</a></li>
  </ul>
  <div class="header-image" style="margin-top:45px;"">
    <div class="header-text">
      <h1 style="font-size:60px">Welcome to TuneRater</h1>
      <h3>Let's make good music</h3>
    </div>
  </div>
  <div style="padding:20px;margin-top:30px;background-color:#ffffff;">


    <h1>TuneRater Home</h1>

    <style>
        .container{
          display:flex;
        }
        .fixed{
          width: 15px;
        }
        .fixed1{
          width: 200px;
        }
        .flex-item{
          flex-grow: 1;
        }
      </style>
      

    <p>Here are the top songs!</p>
    <div id="songs"></div>
    {{#tracks}}
    <div class='container' style='color:#ffffff;padding:3px;margin-top:4px;background-color:#353535;border: 1px solid#131313;'><div class='fixed1' style='padding:6px'><div id='title_{{title}}'>{{title}}</div><div id='artist_{{title}}' style='color:rgb(173, 173, 173)'>{{artist}}</div></div><div class='flex-item' style='padding:10px; margin-top:7px'>{{upvotes}}</div><div class='flex-item' style='padding:15px' align='right'>{{duration}}</div></div>
    {{/tracks}}
    </div>
</div>
</body>
</html>

