<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TuneRater</title>

    <!-- Load our React component. -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="explore.js" defer></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <style>
    .header-image {
      background-image: url("https://raw.githubusercontent.com/yshneyderman/326Project/master/background.png");
      background-color: #000000;
      height:700px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .header-text {
      text-align: center;
      position: absolute;
      top: 86%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .header-text1 {
      background-image: url("https://raw.githubusercontent.com/yshneyderman/326Project/master/TR.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 340px 240px;
      text-align: center;
      position: absolute;
      padding:2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .navbar-item {
      color:#4a4a4a !important;
    }

    body {
      margin:0;
      font: 12pt Arial;   
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0px;
      overflow: hidden;
      background-color: #130125;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #0c7c8a;
    }

    .active {
      background-color: #0c7c8a;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:3001/"><img src="https://raw.githubusercontent.com/yshneyderman/326Project/master/TR.png" height="15" width="30"></a></li>
    <li style="float:center"><a href="http://localhost:3000/">Explore</a></li>
    <li style="float:right"><a href="http://localhost:3004/"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{user}}</a></li>
    <li style="float:right"><a href="http://localhost:3002/"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Song</a></li>
  </ul>
  <div class="header-image" style="margin-top:58px;">
    
    <div class="header-text1">
      <h1 style="font-size:80px;font-weight: 820">TuneRater</h1>
      </div>
      <div class="header-text">
      <h4>LET'S MAKE GOOD MUSIC</h4>
      <h5>UPLOAD&nbsp;&nbsp;&nbsp;LISTEN&nbsp;&nbsp;&nbsp;SHARE</h5>
    </div>
  </div>
  <div style="padding:20px;margin-top:30px;background-color:#ffffff;">

    <style>
        .container{
          display:flex;
        }
        .fixed{
          width: 15px;
        }
        .fixed1{
          width: 200px;
        }
        .flex-item{
          flex-grow: 1;
        }
        #about {
          text-align: center;
          padding: 30px;
        }
      </style>
    <h1>TuneRater Home</h1>
    <!-- <p>TuneRater's hits!</p>
    <div class="container" id="songs">
      <div id="info">
      </div>
      <div class="flex-item">
        {{#tracks}}
        <div class='container' style='color:#ffffff;padding:3px;margin-top:4px;background-color:#353535;border: 1px solid#131313;'><audio id='audio_{{title}}'><source src='data:audio/mp3;base64,{{mp364}}'></audio><div class='fixed' id='play_{{title}}' style='padding:6px; margin-top:10px'><i class='fa fa-play' aria-hidden='true' onclick='playAudio("{{title}}")'></i></div><div class='fixed1' style='padding:6px'><div id='title_{{title}}'>{{title}}</div><div id='artist_{{title}}' style='color:rgb(173, 173, 173)'>{{artist}}</div></div><div class='fixed' style='padding:10px; margin-top:7px'><form id="f{{title}}" method="post" action="/upvote" style='width:18px'><input type="hidden" name="title" value='{{title}}'><i class="fa fa-heart" aria-hidden="true" onMouseOver="this.style.color='#FF335B'"
      onMouseOut="this.style.color='white'" onclick="document.getElementById('f{{title}}').submit();"></i></form></div><div class='fixed2' style='padding:10px; margin-top:6px'>  {{upvotes}}</div><div class='fixed1' style='padding:10px;margin-top:6px'><form id="f2{{title}}" method="post" action="/comment"><input type="hidden" name="title" value='{{title}}'><input type="text" name="comment"><input type="submit" value="Comment"></form></div><div class='fixed3' style='padding:10px;margin-top:6px'><form id="f3{{title}}" method="post" action="/rate"><input type="hidden" name="title" value='{{title}}'><input type="text" name="rating" style="width:40px"><input type="submit" value="Rate"></form></div><div class='fixed2' style='padding:10px; margin-top:6px'>{{score}}</div><div class='flex-item' style='padding:15px' align='right'>{{duration}}</div></div>
        {{/tracks}}
      </div>
    </div> -->
    <div id="about">
      <h1>About</h1>
      <p>TuneRater is a site made by Musicians, for Musicians.</p>
      <p>It's creators wanted to make a site where musicians could get real, honest critiques of their music from musicians just like themselves.</p>
      <p>It's purpose is to give musicians a quick and easy way to get useful feedback on all of their music from anyone around the globe.</p>
      <p>The Explore page is also a great way to find new music, and leaving comments on someone else's music is really just another way to collaborate!</p>
      <p>So go Rate some Tunes, and if you're musically inclined, you can upload some tracks of your own!</p>
    </div>
</div>
</body>
</html>

