<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TuneRater - Explore</title>

    <!-- Load our React component. -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script>
      let songStored;
      let playButton;
      let savedSong;
      let title;

      function playAudio(song) {
        if(songStored != null){
            
            var playPromiseOut = songStored.pause();;

            if (playPromiseOut !== undefined) {
              playPromiseOut.then(_ => {
                //success
              })
              .catch(error => {
                //failure
              });
            }

            playButton.innerHTML = "<i class='fa fa-play' aria-hidden='true' style='color: #ffffff' onclick='playAudio(\"" + savedSong + "\")'></i>";
            title.style.setProperty("color", "#ffffff");
        }
        savedSong = song;
        songStored = document.getElementById("audio_"+song); 
        
        var playPromise = songStored.play();;

            if (playPromise !== undefined) {
              playPromise.then(_ => {
                //success
              })
              .catch(error => {
                //failure
              });
            }
        
        playButton = document.getElementById("play_"+song);
        playButton.innerHTML = "<i class='fa fa-pause' aria-hidden='true' style='color: #00bcd4' onclick='pauseAudio(\"" + song + "\")'></i>";
        title = document.getElementById("title_"+song); 
        title.style.setProperty("color", "#00bcd4");
      } 

      function pauseAudio(song) {
        let songStoredAlt = document.getElementById("audio_"+song); 
        
        var playPromise = songStoredAlt.pause();;

            if (playPromise !== undefined) {
              playPromise.then(_ => {
                //success
              })
              .catch(error => {
                //failure
              });
            }

        let playButtonAlt = document.getElementById("play_"+song);
        playButtonAlt.innerHTML = "<i class='fa fa-play' aria-hidden='true' style='color: #ffffff' onclick='playAudio(\"" + song +"\")'></i>";
        let titleAlt = document.getElementById("title_"+song); 
        titleAlt.style.setProperty("color", "#ffffff");
      }
    
    </script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <style>
    .navbar-item {
      color:#4a4a4a !important;
    }

    body {
      margin:0;
      font: 12pt Arial;   
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 15px 30px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #4CAF50;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:3001/"><img src="https://raw.githubusercontent.com/yshneyderman/326Project/master/TuneRater%20Logo%20Blue.png" height="15" width="30"></a></li>
    <li><a href="http://localhost:3000/">Explore</a></li>
    <li style="float:right"><a href="http://localhost:3002/"><i class="fa fa-plus" aria-hidden="true"></i>   Add Song</a></li>
  </ul>
  <div style="padding:20px;margin-top:30px;background-color:#ffffff;">  


<h3 id="errormsg">{{errormsg}}</h3>

<h3>Search Tracks</h3>
<form method="post" action="/search">
  Title: <input type="text" name="title">
  <input type="submit" value="Search">
</form>

<div style="padding:20px;margin-top:1px;background-color:#ffffff;">
    <h1>Explore New Songs</h1>

    <style>
        .container{
          display:flex;
        }
        .fixed{
          width: 15;
        }
        .flex-item{
          flex-grow: 1;
        }
      </style>
      

    <p>TuneRater's hits!</p>
    <div id="songs"></div>
    {{#tracks}}
    <div class='container' style='color:#ffffff;padding:3px;margin-top:4px;background-color:#353535;border: 1px solid#131313;'><audio id='audio_{{title}}'><source src='{{mp3}}'></audio><div class='fixed' id='play_{{title}}' style='padding:6px; margin-top:10px'><i class='fa fa-play' aria-hidden='true' onclick='playAudio("{{title}}")'></i></div><div class='flex-item' style='padding:6px'><div id='title_{{title}}'>{{title}}</div><div id='artist_{{title}}' style='color:rgb(173, 173, 173)'>{{artist}}</div></div><div class='flex-item' style='padding:15px' align='right'>{{duration}}</div></div>
    {{/tracks}}
    </div>
  </div>
</body>
</html>

